html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 58%; } }
  @media (max-width: 992px) {
    html {
      font-size: 56%; } }
  @media (max-width: 768px) {
    html {
      font-size: 53%; } }

body {
  font-family: "Open Sans", sans-serif; }

li {
  list-style-type: none; }

ul {
  margin: 0;
  padding: 0; }

a {
  display: block;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

figcaption {
  cursor: pointer; }

.section {
  padding: 66px 0;
  text-align: center; }
  .section--grey {
    background-color: #f7f7f7; }

@media (min-width: 280px) and (max-width: 360px) {
  .container--custom {
    max-width: 288px; } }

@media (min-width: 361px) and (max-width: 500px) {
  .container--custom {
    max-width: 329px; } }

@media (min-width: 500px) and (max-width: 575px) {
  .container--custom {
    max-width: 468px; } }

.text {
  font-size: 1.4rem; }

.heading-main {
  font-size: 4.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #4e4e4e; }

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  color: #4e4e4e; }

.heading-tertiary {
  font-size: 3.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  color: #4e4e4e; }

.heading-secondary.active {
  color: #f48013 !important;
  border-bottom: 3px solid #f48013 !important; }

.heading-secondary.nav-link {
  padding: 15px; }

.padding15 {
  padding-left: 15px;
  padding-right: 15px; }

.no-marg-no-padd {
  margin: 0;
  padding: 0; }

.header {
  position: relative; }

.main-nav-wrapper {
  background-color: #e7e7e7;
  padding-top: 7px;
  padding-bottom: 7px; }
  @media (max-width: 768px) {
    .main-nav-wrapper {
      display: none; } }

.main-navigation {
  width: 100%; }

.main-navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.main-navigation__item--1 {
  padding-right: 20px; }

.main-navigation__item--2 {
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  padding: 0 20px; }

.main-navigation__item--3 {
  padding-left: 20px; }

.main-navigation__link {
  color: #4e4e4e !important;
  line-height: 1.36;
  font-weight: 600; }

.navigation-lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.navigation-lang__text {
  color: #4e4e4e;
  padding-right: 6px;
  line-height: 1.36;
  font-weight: 600; }

.main-info {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 768px) {
    .main-info {
      padding-top: 20px;
      padding-bottom: 20px; } }

.main-info__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 768px) {
    .contact-info {
      display: none; } }

.contact-info__time {
  text-align: right;
  font-size: 1.6rem;
  line-height: 2.2rem; }

.contact-info__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-info__links {
  color: #e36231;
  font-size: 2rem;
  font-weight: 600; }
  .contact-info__links--1 {
    margin: 0 10px; }

.category-nav-wrapper {
  background-color: #e36231; }
  @media (max-width: 768px) {
    .category-nav-wrapper {
      display: none; } }

.category-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px; }

.category-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.category-nav__link {
  font-size: 1.5rem;
  line-height: 1.33rem;
  font-weight: 700;
  color: #ffffff; }

.category-nav__dot {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.logo-box {
  cursor: pointer; }
  @media (max-width: 768px) {
    .logo-box svg {
      width: 140px;
      height: 40px; } }

.hamburger-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 22px;
  background-color: #ffffff;
  border: none;
  padding: 3px;
  color: #7e7e7e;
  cursor: pointer;
  display: none;
  cursor: pointer; }
  .hamburger-btn:hover {
    color: #e36231; }
  @media (max-width: 768px) {
    .hamburger-btn {
      display: block; } }

.hamburger-close {
  position: absolute;
  background-color: #ffffff;
  color: #4f4f4f;
  font-size: 18px;
  border: 0;
  padding: 3px;
  right: 25px;
  opacity: .8;
  cursor: pointer; }
  .hamburger-close:hover {
    color: #e36231; }

.hamburger-menu {
  display: none;
  z-index: 11;
  top: 0;
  right: 0;
  position: fixed;
  padding: 24px;
  background-color: #ffffff;
  height: 100vh; }
  .hamburger-menu--active {
    display: block;
    -webkit-box-shadow: 99999px black;
            box-shadow: 99999px black; }

.hamburger-menu__list {
  width: 240px;
  padding-top: 96px;
  margin-bottom: 90px; }

.hamburger-menu__list-item:not(:first-child) {
  padding-top: 16px;
  border-top: 1px solid #d8d8d8; }

.hamburger-menu__list-item:not(:last-child) {
  padding-bottom: 16px; }

.hamburger-menu__link {
  font-size: 1.65rem;
  color: #4f4f4f; }
  .hamburger-menu__link:hover {
    color: #e36231; }

.hamburger-menu-lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.hamburger-menu-lang__text {
  font-size: 1.65rem;
  margin-right: 16px; }

.overlay--active {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  width: 100%;
  height: 100%; }

.form-container {
  width: 100%;
  max-width: 9999px;
  margin: -75px auto 0 auto;
  position: relative;
  background-color: transparent;
  z-index: 2;
  -webkit-box-shadow: none;
          box-shadow: none; }

.find-tour {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #ffffff;
  padding: 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2); }
  .find-tour__row--1 {
    margin-bottom: 24px; }
  .find-tour--shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 40px 0;
    max-width: 1140px; }

.custom-select,
.form-control {
  height: -webkit-calc(2.25rem + 41px);
  height: calc(2.25rem + 41px);
  font-size: 1.4rem;
  background-color: #f7f7f7;
  border: none;
  color: #4e4e4e;
  opacity: 0.54;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px; }
  .custom-select--hamburger,
  .form-control--hamburger {
    font-size: 1.65rem;
    opacity: 1;
    color: #4e4e4e; }

.input-group-append {
  background-color: #f7f7f7; }

.gj-datepicker-bootstrap [role="right-icon"] button {
  border: none !important; }

.gj-datepicker-bootstrap [role="right-icon"] button .gj-icon,
.gj-datepicker-bootstrap [role="right-icon"] button .material-icons {
  top: 20px !important; }

.footer {
  padding-top: 56px; }

.bottom-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 78px; }

@media (max-width: 1024) {
  .bottom-nav__list {
    width: 25%; } }

@media (min-width: 320px) and (max-width: 575px) {
  .bottom-nav__list--1, .bottom-nav__list--2, .bottom-nav__list--3 {
    margin-bottom: 20px; } }

.bottom-nav__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4e4e4e; }

.bottom-nav__link {
  display: block;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4e4e4e;
  cursor: pointer; }
  .bottom-nav__link:hover {
    color: #358bcb !important; }

.bottom-nav__title {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #4e4e4e;
  text-transform: uppercase;
  margin-bottom: 19px; }

.bottom-nav__phone-icon {
  margin-right: 10px; }

.bottom-nav__day {
  margin-right: 12px; }

.bottom-nav__icons-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px; }

.bottom-nav__icon:not(:last-child) {
  margin-right: 24px; }

.pay-system-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 21px;
  border-bottom: 1px solid #d8d8d8; }

.pay-system-box__item {
  cursor: pointer; }
  .pay-system-box__item:not(:last-child) {
    margin-right: 33px; }

.rules {
  padding-top: 24px;
  padding-bottom: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 320px) and (max-width: 767px) {
    .rules {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.rules__link {
  opacity: 0.54;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4e4e4e; }
  .rules__link:not(:last-child) {
    margin-right: 41px; }
    @media (min-width: 0px) and (max-width: 767px) {
      .rules__link:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .rules__link {
      text-align: center; } }

.carousel__box {
  position: relative; }

.carousel__img {
  max-width: 100%;
  margin-bottom: 24px;
  cursor: pointer; }

.carousel__price, .list-item__price {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
  background-color: red;
  padding: 10px 18px; }

.carousel__caption {
  text-align: left;
  margin-left: 24px; }

.carousel__heading {
  display: block;
  word-break: break-word; }

.carousel__text {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #4e4e4e;
  word-break: break-word; }

.multiple-carousel__control {
  right: -15px;
  width: 7%;
  background-color: #f7f7f7;
  opacity: 0.9; }

.multiple-carousel__control-icon {
  width: 15px;
  height: 23px;
  background: none; }

.carousel-inner-1 .carousel-item.active,
.carousel-inner-1 .carousel-item-next,
.carousel-inner-1 .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.carousel-inner-1 .carousel-item-right.active,
.carousel-inner-1 .carousel-item-next {
  -webkit-transform: translateX(41.5%);
      -ms-transform: translateX(41.5%);
          transform: translateX(41.5%); }

.carousel-inner-1 .carousel-item-left.active,
.carousel-inner-1 .carousel-item-prev {
  -webkit-transform: translateX(-41.5%);
      -ms-transform: translateX(-41.5%);
          transform: translateX(-41.5%); }

.carousel-inner-1 .carousel-item-right,
.carousel-inner-1 .carousel-item-left {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.tab-box {
  margin: 0 auto 55px auto; }

.nav-tabs {
  margin-bottom: 40px; }

.nav-tabs .nav-link {
  border: none; }

.orange-button {
  padding: 18px 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
  background-color: #f48013;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  text-decoration: none !important;
  letter-spacing: normal;
  text-transform: none;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block; }
  .orange-button:visited, .orange-button:link {
    color: #ffffff; }
  .orange-button:hover {
    background-color: #e36231; }

.btn--filter {
  background-color: transparent;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: solid 1px #4e4e4e;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 19px;
  padding: 15px 24px; }

.multiple-carousel__caption {
  font-size: 1.8rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4e4e4e;
  margin-left: 24px;
  text-align: left; }

.directions__next,
.directions__prev {
  top: 47%;
  height: 100px;
  width: 3.5%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #f48013; }

.main-carousel__next,
.main-carousel__prev {
  width: 3.5%;
  height: 100px;
  top: 35%;
  opacity: 0.7;
  -webkit-box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
  background-image: none;
  min-width: 32px;
  background-color: #ffffff;
  z-index: 10;
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px; }
  .main-carousel__next:hover path,
  .main-carousel__prev:hover path {
    stroke: #f48013; }

.main-carousel__next {
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px; }

.main-carousel__prev {
  -webkit-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0; }

.breadcrumb {
  background-color: transparent;
  font-size: 1.4rem;
  padding: 24px 0;
  margin-bottom: 0; }

.breadcrumb-item {
  color: #979797;
  line-height: 19px; }
  .breadcrumb-item.active {
    color: #4e4e4e; }
  .breadcrumb-item a {
    color: inherit; }

.page-link {
  border: none;
  color: #4e4e4e;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem; }
  .page-link:hover {
    background-color: #e36231;
    color: #fff; }

.page-item.active .page-link {
  background-color: #e36231;
  border-color: #e36231; }

.page-item:not(:last-child) {
  margin-right: 4px; }

.pagination-lg .page-link {
  padding: 1.4rem 2rem;
  font-size: 1.4rem;
  font-weight: 600; }

.pagination-lg .page-item:first-child .page-link {
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem; }

.badge:empty {
  display: inline-block; }

img.badge {
  vertical-align: middle;
  max-width: 30px; }

.tour-catalog .btn--filter {
  display: none; }
  @media (max-width: 468px) {
    .tour-catalog .btn--filter {
      display: inline-block;
      margin-left: 16px; } }

.navigation--top {
  display: block; }
  @media (max-width: 468px) {
    .navigation--top {
      display: none; } }

.country {
  background-color: #e36231;
  color: #fff;
  font-size: 1.4rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 3px 9px;
  font-weight: 600;
  margin-bottom: 6px; }

.list-item {
  padding: 48px 0;
  border-bottom: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.list-item__info {
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 991.98px) {
    .list-item__info {
      width: 100%; } }
  @media (max-width: 468px) {
    .list-item__info {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.list-item__calculation {
  width: 30%;
  color: #4e4e4e;
  font-size: 1.6rem;
  padding-left: 64px;
  border-left: 1px solid #d8d8d8; }
  .list-item__calculation label {
    margin-bottom: 16px; }
  .list-item__calculation .heading-secondary {
    margin-bottom: 3.2rem;
    display: inline-block; }
  .list-item__calculation .custom-select {
    height: -webkit-calc(2.25rem + 41px);
    height: calc(2.25rem + 41px);
    font-size: 1.4rem;
    background-color: #f7f7f7;
    border: 0;
    color: #4e4e4e;
    opacity: .54;
    font-weight: 600;
    padding-left: 24px; }
  .list-item__calculation .form-group {
    margin-bottom: 2.4rem; }

.list-item__img {
  position: relative;
  width: 45%; }
  .list-item__img img {
    max-width: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media (max-width: 468px) {
    .list-item__img {
      width: 100%; } }

.list-item__text {
  width: 55%;
  padding: 0 6.1rem 0 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.57;
  color: #4e4e4e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 468px) {
    .list-item__text {
      width: 100%;
      margin-top: 26px;
      padding: 0; } }

.list-item__price {
  opacity: .65;
  right: 0; }

.price-block {
  padding: 16px 0;
  border-top: 1px solid #d8d8d8;
  font-size: 1.4rem;
  font-weight: 600; }
  .price-block__sum {
    color: #ff3333;
    font-size: 2.4rem;
    display: inline-block;
    margin-left: 15px;
    font-weight: 700; }

.near-tour {
  background-color: #f7f7f7;
  margin-top: auto;
  padding: 3.2rem;
  width: 100%; }
  @media (max-width: 991.98px) {
    .near-tour {
      display: none; } }

.near-data-list {
  margin: 1.6rem 0 2.4rem; }
  .near-data-list li:not(:last-child) {
    margin-bottom: 10px; }

.carousel {
  position: relative; }

.tab-content {
  overflow-x: hidden; }

.nav-tabs {
  border-bottom: none; }

.experts__title {
  margin-bottom: 64px; }

.testimonials {
  margin-bottom: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 0px) and (max-width: 767px) {
    .testimonials__img-box {
      margin-bottom: 25px;
      padding: 0; } }
  .testimonials__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .testimonials__item:not(:last-child) {
      margin-right: 32px; }
  .testimonials__text {
    margin-left: 1rem; }
    @media (min-width: 0px) and (max-width: 767px) {
      .testimonials__text {
        margin-left: 0; } }
  .testimonials__title {
    margin-bottom: 3.3rem; }
  .testimonials__title, .testimonials__paragraph {
    text-align: left; }
  .testimonials__paragraph {
    color: #4e4e4e;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal; }
    .testimonials__paragraph--1 {
      margin-bottom: 2.4rem; }

.directions {
  position: relative; }
  .directions__heading {
    margin-bottom: 64px; }

.seo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
  height: 268px; }

.subscribe {
  background-image: url(/img/paris-2017-home.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top center; }
  .subscribe__container {
    max-width: 720px;
    margin: 0 auto;
    width: 100%; }
  .subscribe__form {
    padding: 0 15px; }
  .subscribe__button {
    font-size: 1.3rem;
    border: none;
    -webkit-border-radius: 0 0.25rem 0.25rem 0;
            border-radius: 0 0.25rem 0.25rem 0;
    background-color: #e36231; }
  .subscribe__text {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    margin-bottom: 16px; }
  .subscribe__title {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    font-size: 3.6rem;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 auto 56px auto;
    max-width: 590px; }
  .subscribe__custom-input {
    height: -webkit-calc(2.25rem + 40px);
    height: calc(2.25rem + 40px);
    -webkit-border-radius: 0.25rem 0 0 0.25rem;
            border-radius: 0.25rem 0 0 0.25rem;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #4e4e4e;
    padding-left: 2.4rem; }
    .subscribe__custom-input::-webkit-input-placeholder {
      opacity: 0.54; }
    .subscribe__custom-input::-moz-placeholder {
      opacity: 0.54; }
    .subscribe__custom-input:-ms-input-placeholder {
      opacity: 0.54; }
    .subscribe__custom-input::-ms-input-placeholder {
      opacity: 0.54; }
    .subscribe__custom-input::placeholder {
      opacity: 0.54; }

.no-padding {
  padding: 0; }

.link {
  color: #f48013;
  font-weight: 600; }
  .link:hover {
    color: #e36231; }

.mt-8 {
  margin-top: 3.2rem; }

.mb-8 {
  margin-bottom: 3.2rem; }

.sub-title {
  font-size: 4.9rem;
  padding: 2.4rem 0;
  border-bottom: 1px solid #d8d8d8;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 1; }
  .sub-title span {
    color: #b8b8b8; }

.badge:empty {
  display: inline-block; }

img.badge {
  vertical-align: middle;
  max-width: 30px; }

.tour-catalog .btn--filter {
  display: none; }
  @media (max-width: 468px) {
    .tour-catalog .btn--filter {
      display: inline-block; } }

.navigation--top {
  display: block; }
  @media (max-width: 468px) {
    .navigation--top {
      display: none; } }

.heading-secondary--small {
  font-size: 1.8rem; }

@media (max-width: 1199.98px) {
  .testimonials__title {
    font-size: 2.6rem;
    margin-bottom: 2.5rem; }
  .find-tour__row--1 {
    margin-bottom: 0; } }

@media (max-width: 991.98px) {
  .hidden-col {
    display: none; }
  .testimonials__img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    min-width: 288px;
    max-height: 223px; }
  .subscribe__custom-input {
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .subscribe__button {
    -webkit-border-radius: 5px;
            border-radius: 5px; } }

@media (max-width: 767.98px) {
  html {
    font-size: 53% !important; }
  .carousel__price, .list-item__price,
  .heading-secondary {
    font-size: 1.8rem; }
  .carousel__caption {
    margin-left: 0; }
  .tab-box {
    overflow-x: hidden; }
  .carousel__box {
    min-width: 287px; }
  .list-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .list-item__info, .list-item__calculation {
    width: 100%; }
  .list-item__calculation {
    padding: 0 1rem; } }
