<div
  id="country-slider"
  class="country-slider carousel slide"
  data-ride="carousel"
>
  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/switz.png" alt="1 slide" />
      <figcaption class="country-slider__caption">
        Туры в Швейцарию
      </figcaption>
    </figure>
  </a>
  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/france.png" alt="2 slide" />
      <figcaption class="country-slider__caption">
        Туры в Францию
      </figcaption>
    </figure>
  </a>
  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/england.png" alt="3 slide" />
      <figcaption class="country-slider__caption">
        Туры в Англию
      </figcaption>
    </figure>
  </a>
  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/germany.png" alt="3 slide" />
      <figcaption class="country-slider__caption">
        Туры в Германию
      </figcaption>
    </figure>
  </a>

  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/switz.png" alt="1 slide" />
      <figcaption class="country-slider__caption">
        Туры в Швейцарию
      </figcaption>
    </figure>
  </a>
  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/france.png" alt="2 slide" />
      <figcaption class="country-slider__caption">
        Туры в Францию
      </figcaption>
    </figure>
  </a>
  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/england.png" alt="3 slide" />
      <figcaption class="country-slider__caption">
        Туры в Англию
      </figcaption>
    </figure>
  </a>
  <a href="#" class="country-slider__item col-sm px-0">
    <figure>
      <img class="country-slider__img d-block w-100" src="img/germany.png" alt="3 slide" />
      <figcaption class="country-slider__caption">
        Туры в Германию
      </figcaption>
    </figure>
  </a>
</div>
