<div class="form-container padding15">
  <form class="find-tour">
    <div class="find-tour__row find-tour__row--1">
      <div class="form-row">
        <div class="form-group col-xl-4">
          <select id="" class="custom-select" required>
            <option >Куда отправиться?
            </option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group col-sm-6 col-xl-4"><input id="datepicker" width="" /></div>

        <div class="form-group col-sm-6 col-xl-4"><input id="datepicker-2" width="" /></div>
      </div>
    </div>

    <div class="find-tour__row find-tour__row--2">
      <div class="form-row">
        <div class="form-group col-xl-4">
          <select id="inputState" class="custom-select" required>
            <option selected>Тип тура</option>
            <option>Однодневный</option>
            <option>Многодневный</option>
          </select>
        </div>

        <div class="form-group col-xl-4">
          <select id="inputState" class="custom-select" required>
            <option selected>Город отправления</option>
            <option>Одесса</option>
            <option>Львов</option>
            <option>Киев</option>
          </select>
        </div>

        <div class="gorm-group col-xl-4">
          <input class="form-control" type="text" placeholder="Искать по названию" required/>
        </div>
      </div>
    </div>
  </form>
</div>
