<div class="container">
  <div class="row">
    <div class="tab-box">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active heading-secondary"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-home"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Хиты продаж</a
          >
          <a
            class="nav-item nav-link heading-secondary"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Рождественнские и новогодние туры</a
          >
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane first fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          @@include('./three-items-carousel.html')
        </div>
        <div
          class="tab-pane second fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          @@include('./three-items-carousel-copy.html')
        </div>
      </div>
    </div>
  </div>
</div>
