<div class="multiple-one-carousel-wrapper">
  <div class="multiple-one-carousel" id="multiple-one-carousel">
    <div class="multiple-one__carousel-item">
      <a href="#" class="multiple-one-carousel__link carousel__box ">
        <figure class="">
          <img class="multiple-one-carousel__img img-fluid" src="/img/munich1.png" />
          <figcaption class="multiple-one-carousel__caption">
            <span class="multiple-one-carousel__price">от 39.00 €</span>
            <span class="multiple-one-carousel__text"
              >Бельгия, Брюгге, 1 д.</span
            >
            <span class="multiple-one-carousel__heading heading-secondary"
              >Брюгге. Выставка ледяных скульптур.</span
            >
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="multiple-one-carousel__item">
      <a href="#" class="multiple-one-carousel__link carousel__box ">
        <figure class="">
          <img class="multiple-one-carousel__img img-fluid" src="/img/zurich.png" />
          <figcaption class="multiple-one-carousel__caption">
            <span class="multiple-one-carousel__price">от 39.00 €</span>
            <span class="multiple-one-carousel__text"
              >Швейцария, Цюрих, Люцерн, 1 д. 2 н.</span
            >
            <span class="multiple-one-carousel__heading heading-secondary"
              >Елка Сваровски в Цюрихе!</span
            >
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="multiple-one-carousel__item">
      <a href="#" class="multiple-one-carousel__link carousel__box ">
        <figure class="">
          <img class="multiple-one-carousel__img img-fluid" src="/img/zurich.png" />
          <figcaption class="multiple-one-carousel__caption">
            <span class="multiple-one-carousel__price">от 39.00 €</span>
            <span class="multiple-one-carousel__text"
              >Швейцария, Цюрих, Люцерн, 1 д. 2 н.</span
            >
            <span class="multiple-one-carousel__heading heading-secondary"
              >Елка Сваровски в Цюрихе!</span
            >
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="multiple-one-carousel__item">
      <a href="#" class="multiple-one-carousel__link carousel__box ">
        <figure class="">
          <img class="multiple-one-carousel__img img-fluid" src="/img/zurich.png" />
          <figcaption class="multiple-one-carousel__caption">
            <span class="multiple-one-carousel__price">от 39.00 €</span>
            <span class="multiple-one-carousel__text"
              >Швейцария, Цюрих, Люцерн, 1 д. 2 н.</span
            >
            <span class="multiple-one-carousel__heading heading-secondary"
              >Елка Сваровски в Цюрихе!</span
            >
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="multiple-one-carousel__item">
      <a href="#" class="multiple-one-carousel__link carousel__box ">
        <figure class="">
          <img
            id="carousel-img"
            class="multiple-one-carousel__img img-fluid"
            src="/img/prague.png"
          />
          <figcaption class="multiple-one-carousel__caption">
            <span class="multiple-one-carousel__price">от 39.00 €</span>
            <span class="multiple-one-carousel__text"
              >Чехия, Прага, 4 д. 3 н.</span
            >
            <span class="multiple-one-carousel__heading heading-secondary"
              >Злата Прага - знакомство</span
            >
          </figcaption>
        </figure>
      </a>
    </div>
  </div>

  <a
    class="multiple-one-carousel__control-next multiple-one-carousel__control"
    href="#recipeCarousel"
    role="button"
    id="multiple-one-carousel__control"
    data-slide="next"
  >
    <span
      class="multiple-one-carousel__control-next-icon multiple-one-carousel__control-icon"
      aria-hidden="true"
    >
      <svg
        width="15"
        height="23"
        viewBox="0 0 15 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.42484 1.42484L11.5 11.5L1.42484 21.5752"
          stroke="#737373"
          stroke-width="4"
        />
      </svg>
    </span>
    <span class="sr-only">Next</span>
  </a>
</div>
