.carousel {
  position: relative;
}

.slider-section {
  @media (max-width: 768px) {
    margin-bottom: 60px;
  }
}

//tabs

.tab-content {
  overflow-x: hidden;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link {
  padding: 15px;

  @media (max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
    text-align: left;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.testimonials {
  margin-bottom: 55px;
  display: flex;

  &__img-box {
    @media (min-width: 0px) and (max-width: 767px) {
      margin-bottom: 25px;
      padding: 0;
    }
  }

  &__img {
    @media(max-width: 500px) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  &__text {
    margin-left: 1rem;

    @media (min-width: 0px) and (max-width: 767px) {
      margin-left: 0;
    }
  }
  &__title {
    margin-bottom: 3.3rem;
  }
  &__title,
  &__paragraph {
    text-align: left;
  }
  &__paragraph {
    color: $text-black;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    &--1 {
      margin-bottom: 2.4rem;
    }
  }
}

.directions {
  position: relative;
}

.seo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $inputGrey;
  height: 268px;
}

.subscribe {
  background-image: url(/img/paris-2017-home.png);
  background-size: cover;
  background-position: top center;
  &__container {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
  }
  &__form {
    padding: 0 15px;
  }
  &__button {
    font-size: 1.3rem;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: $dark-orange;
    cursor: pointer;

    &:hover {
      background-color: $orange;
    }
  }
  &__text {
    color: $white;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    margin-bottom: 16px;
  }
  &__title {
    margin: 0 auto 56px auto;
    max-width: 590px;
  }
  &__custom-input {
    height: calc(2.25rem + 40px);
    border-radius: 0.25rem 0 0 0.25rem;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $text-black;
    padding-left: 2.4rem;
    &::placeholder {
      opacity: 0.54;
    }
  }
}

// catalog
.no-padding {
  padding: 0;
}

.link {
  color: $orange;
  font-weight: 600;
  &:hover {
    color: $dark-orange;
  }
}

.mt-8 {
  margin-top: 3.2rem;
}

.mb-8 {
  margin-bottom: 3.2rem;
}

.sub-title {
  font-size: 4.9rem;
  padding: 2.4rem 0;
  border-bottom: 1px solid #d8d8d8;
  color: #4e4e4e;
  font-weight: 700;
  line-height: 1;
  span {
    color: #b8b8b8;
  }
}

.badge:empty {
  display: inline-block;
}

img.badge {
  vertical-align: middle;
  max-width: 30px;
}

.tour-catalog .btn--filter {
  display: none;
  @media (max-width: 468px) {
    display: inline-block;
  }
}

.navigation--top {
  display: block;
  @media (max-width: 468px) {
    display: none;
  }
}

.heading-secondary--small {
  font-size: 1.8rem;
}

// catalog end







//base style
.page {
  margin-top: 24px;
}


//about page style

.about {
  
}

.about__heading {
}

.about__item {
  &:not(:last-child) {
    @media (max-width: 768px) {
      margin-bottom: 6.4rem;
    }

    @media (max-width: 500px) {
      margin-bottom: 5.8rem;
    }
  }
}

.about__img {
  object-fit: cover;
  height: auto;
}


//contacts page style


.contacts-social__icon-box {
  @extend .bottom-nav__icons-box
}

.contacts__text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4e4e4e;
}

.contacts__item {
  display: flex;
  margin-bottom: 4rem;
}

.contacts__icon {
  margin-right: 19px;
}

.contacts-social {
  border: 1px solid rgba(151, 151, 151, 0.5);
  padding: 24px;
  border-radius: 4px;
}

.contacts-social__icon-box {
  margin-top: 24px;
}

#map {
  @media (max-width: 768px) {
    height: 320px;
  }
}
