.header {
  position: relative;
}

.main-nav-wrapper {
  background-color: #e7e7e7;
  padding-top: 7px;
  padding-bottom: 7px;

  @media (max-width: 768px) {
    display: none;
  }
}

.main-navigation {
  width: 100%;
}

.main-navigation__list {
  display: flex;
  justify-content: flex-end;
}

.main-navigation__item {
  &--1 {
    padding-right: 20px;
  }

  &--2 {
    border-left: 1px solid $grey-lines;
    border-right: 1px solid $grey-lines;
    padding: 0 20px;
  }

  &--3 {
    padding-left: 20px;
  }
}

.main-navigation__link {
  color: #4e4e4e !important;
  line-height: 1.36;
  font-weight: 600;
}

.navigation-lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-lang__text {
  color: #4e4e4e;
  padding-right: 6px;
  line-height: 1.36;
  font-weight: 600;
}

.main-info {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.main-info__box {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.contact-info__time {
  text-align: right;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.contact-info__phone {
  display: flex;
  align-items: center;
}

.contact-info__links {
  color: $dark-orange;
  font-size: 2rem;
  font-weight: 600;

  &--1 {
    margin: 0 10px;
  }

  &--2 {
  }
}

.category-nav-wrapper {
  background-color: $dark-orange;

  @media (max-width: 768px) {
    display: none;
  }
}

.category-nav {
  display: flex;
  margin: 0 auto;
}

.category-nav__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.category-nav__link {
  font-size: 1.5rem;
  line-height: 1.33rem;
  font-weight: 700;
  color: $white;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1.5px solid transparent;

  &:hover {
    border-color: $white;
    color: $white;
  }
}

.category-nav__dot {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: $white;
  border-radius: 50%;
}

.logo-box {
  cursor: pointer;

  svg {
    @media (max-width: 768px) {
      width: 140px;
      height: 40px;
    }
  }
}

.hamburger-btn {
  appearance: none;
  font-size: 22px;
  background-color: $white;
  border: none;
  padding: 3px;
  color: $grey-hamburger;
  cursor: pointer;
  display: none;
  cursor: pointer;

  &:hover {
    color: $dark-orange;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.hamburger-close {
  position: absolute;
  background-color: $white;
  color: $greyHamburgerText;
  font-size: 18px;
  border: 0;
  padding: 3px;
  right: 25px;
  opacity: .8;
  cursor: pointer;

  &:hover {
    color: $dark-orange;
  }
}

.hamburger-menu {
  display: none;
  z-index: 11;
  top: 0;
  right: 0;
  position: fixed;
  padding: 24px;
  background-color: $white;
  height: 100vh;

  &--active {
    display: block;
    box-shadow: 99999px black;
  }
}

.hamburger-menu__list {
  width: 240px;
  padding-top: 96px;
  margin-bottom: 90px;
}

.hamburger-menu__list-item {
  &:not(:first-child) {
    padding-top: 16px;
    border-top: 1px solid $hamburgerBorderColor;
  }

  &:not(:last-child) {
    padding-bottom: 16px;
  }
}

.hamburger-menu__link {
  font-size: 1.65rem;
  color: $greyHamburgerText;

  &:hover {
    color: $dark-orange;
  }
}

.hamburger-menu-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu-lang__text {
  font-size: 1.65rem;
  margin-right: 16px;
}

.overlay {
  &--active {
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:10;
      width:100%;
      height:100%;
  }
}

