.breadcrumb-item a {
    display: inline-block;
}

// slider nav
.gallery {
    display: flex;
    width: 100%;
    max-width: 100%;
    @media (max-width: 991px) {
        flex-wrap: wrap;
    }
}

.slider-nav {
    flex: none;
    width: 78px;
    @media (max-width: 991px) {
        width: 100%;
    }
    .slider-nav__slides {
        height: 62px;
        padding: .6rem;
    }
}

.slider-for {
    width: calc(100% - 78px);
    padding: 0 1.2rem;
    @media (max-width: 991px) {
        width: 100%;
        padding: 0;
        order: -1;
    }
}

.slider-nav img,
.slider-for img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// slider end
.btn-list>button {
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: normal;
    color: $text-black;
    border: none;
    border-bottom: 1px solid $hamburgerBorderColor;
    background-color: transparent;
    padding: 2rem 0;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    svg {
        margin-left: auto;
        font-size: 3rem
    }
}

.text-info-box {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.57;
    color: $text-black;
    padding-left: 9rem;
    @media (max-width: 991px) {
        padding-left: 0;
    }
    p+p {
        margin-top: 1.5rem;
    }
}

.contact-block {
    background-color: $inputGrey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1.4rem;
    padding: 2.4rem;
    margin-bottom: 2.4rem;
    &+p {
        font-size: 1.4rem;
    }
}

.contact-block__number {
    color: $text-black;
    font-weight: 600;
    font-size: 1.4rem;
    border-bottom: 1px solid $hamburgerBorderColor;
    padding-bottom: 1.6rem;
    a {
        font-size: 2.4rem;
        color: inherit;
    }
}

.contact-block__timetable {
    padding-top: 1.6rem;
    table {
        width: 100%;
        tr td:first-of-type {
            opacity: .54;
        }
    }
}

// price
.price-block-info__item {
    font-size: 1.4rem;
    padding-left: 9rem;
    @media(max-width: 991px) {
        padding-left: 0;
    }
    &+& {
        margin-top: 6.4rem;
    }
    p:first-child {
        font-size: 1.8rem;
        font-weight: bold;
        color: $text-black;
        margin-bottom: 3.3rem;
    }
    table {
        width: 100%;
        font-size: 1.3rem;
        border: 1px solid $hamburgerBorderColor;
        thead {
            background-color: $inputGrey;
        }
        th,
        td {
            padding: .9rem 0;
        }
        tr th:first-child,
        tr td:first-child {
            padding-left: 2.5rem;
        }
        tr th:last-child,
        tr td:last-child {
            padding-right: 2.5rem;
        }
        tbody tr td {
            border-bottom: 1px solid $hamburgerBorderColor;
        }
    }
    ul li {
        list-style-type: disc;
        list-style-position: inside;
    }
    ul li+li {
        margin-top: 2.4rem;
    }
}

// tag box 
.tag {
    display: inline-block;
    font-size: 1.4rem;
    color: $text-black;
    padding: 1.8rem 2.4rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: solid 1px $hamburgerBorderColor;
    margin-right: 1.2rem;
    margin-top: 1.2rem;
    @media(max-width: 991px) {
        display: list-item;
        border: none;
        margin: 0;
        padding: 0;
    }
}

.alert {
    padding: 3.2rem;
    background-color: #fff0d7;
    border-color: #fff0d7;
    p {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 2.3rem;
    }
}

.list-tour__item {
    padding-bottom: 2.3rem;
    margin-top: 3rem;
    &:not(:last-child) {
        border-bottom: 1px solid $hamburgerBorderColor;
    }
    @media(max-width: 991px) {
        padding-bottom: 1.3rem;
        margin-top: 1.3rem;
    }
}

.accordion__head {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        margin-left: 10px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        flex: none;
        opacity: 0;
        @media (max-width: 991px) {
            opacity: 1;
        }
    }
    @media (max-width: 991px) {
        cursor: pointer;
    }
}

.accordion__body {
    font-size: 1.5rem;
    font-weight: normal;
    @media (max-width: 991px) {
        display: none;
    }
}

.sub-title-small {
    font-size: 2.4rem!important;
    margin-left: -15px;
}

.in-sticky {
    align-self: flex-start;
    position: sticky;
    top: 0;
    margin-top: 4.1rem;
}

#in-sticky {
    @media (max-width: 991px) {
        display: none;
    }
    li {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: normal;
        color: $text-black;
        border: none;
        border: 1px solid $hamburgerBorderColor;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        background-color: transparent;
        padding: 2rem 0 2rem 2.4rem;
        transition: .3s linear all;
        -webkit-transition: .3s linear all;
        -moz-transition: .3s linear all;
        -ms-transition: .3s linear all;
        -o-transition: .3s linear all;
        a {
            color: inherit;
        }
        &:hover,
        &.active {
            color: #fff;
            border-color: $dark-orange;
            background-color: $dark-orange;
        }
    }
}

.day-price {
    font-size: 2.4rem;
    font-weight: 600;
    span {
        color: $red;
        font-weight: bold;
    }
    &~p {
        font-size: 1.4rem;
        margin-top: 1.6rem;
    }
}

#in-sticky li+li {
    margin-top: .8rem;
}

.slider-title {
    margin-bottom: 4.6rem;
}

.list-tour-box {
    padding-bottom: 10rem;
    border-bottom: 1px solid $hamburgerBorderColor;
    @media(max-width: 991px) {
        padding-bottom: 2rem;
    }
    .container {
        padding-left: 9rem;
        @media (max-width: 991px) {
            padding-left: 15px;
        }
    }
}

.border-b {
    border-bottom: 1px solid $hamburgerBorderColor;
}

// popup style now
.popup {
    position: fixed;
    transform: translateX(620px);
    -webkit-transform: translateX(620px);
    -moz-transform: translateX(620px);
    -ms-transform: translateX(620px);
    -o-transform: translateX(620px);
    transition: .3s all linear;
    -webkit-transition: .3s all linear;
    -moz-transition: .3s all linear;
    -ms-transition: .3s all linear;
    -o-transition: .3s all linear;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 4.8rem;
    background-color: #fff;
    max-width: 620px;
    width: 100%;
    font-size: 1.4rem;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 100;
    &__name {
        font-size: 2.4rem;
        margin-bottom: 4.8rem;
        line-height: 1.375;
        font-weight: 700;
    }
}

.popup--reviews,
.popup--reviews-add {
    &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.reviews {
    height: 90%;
    min-height: 300px;
    overflow-y: auto;
}

.review-post {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid $hamburgerBorderColor;
    header {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        p {
            line-height: 1.5;
            font-weight: 600;
        }
    }
}

.close--popup {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

@media (max-width:991px) {
    .accordion__head.active~.accordion__body {
        display: block;
    }
    .accordion__head.active svg {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }
    .slider-nav__slides:not(.slick-current) {
        opacity: .6;
    }
}