<div class="list-item">
        <div class="list-item__info">
            <div class="list-item__img">
                <img src="/img/baden-baden.png" alt="baden-baden">
                <span class="list-item__price">от 59.99 €</span>
            </div>
            <div class="list-item__text">
                <span class="country">Германия</span>
                <h4 class="heading-secondary">Мюнхен. Замки Баварии</h4>
                <p>Мюнхен - Афины на Изаре, красивейший город Германии, веселая столица Баварии, пивного рая и автозвезды "BMW". </p>
                
            <div class="near-tour">
              <span class="heading-secondary heading-secondary--small">Ближайшие туры</span>
              <ul class="near-data-list">
                  <li>23.11.2018 - 25.11.2018</li>
                  <li>23.11.2018 - 25.11.2018</li>
                  <li>23.11.2018 - 25.11.2018</li>
              </ul>
              <a href="" class="link link--orange">Больше дат</a>
          </div>
            </div>
        </div> 
        <div class="list-item__calculation">
            <span class="heading-secondary heading-secondary--small">Просчет базовой стоимости</span>
            <form action="">
                <div class="form-group">
                  <label for="data">Выберите дату</label>
                  <select id="data" class="custom-select">
                      <option selected>23.11.2018 - 25.11.2018</option>
                      <option>...</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="tour-city">Выберите город отправления</label>
                  <select id="tour-city" class="custom-select">
                      <option selected>Выберите город</option>
                      <option>...</option>
                    </select>
                </div>  
            </form>
            <div class="price-block"><p>Ваша базовая стоимость: <span class="price-block__sum">0.00 €</span></p></div>
        </div>
    </div>