<div class="container text-center my-3">
  <div class="row mx-auto my-auto">
    <div
      id="recipeCarousel"
      class="carousel carousel-1 slide w-100"
      data-ride="carousel"
    >
      <div class="carousel-inner-1 w-100" role="listbox">
        <div class="carousel-item active">
          <a href="#" class="carousel__link carousel__box d-block col-5">
            <figure class="">
              <img class="carousel__img" src="/img/munich1.png" />
              <figcaption class="carousel__caption">
                <span class="carousel__price">от 39.00 €</span>
                <span class="carousel__text">Бельгия, Брюгге, 1 д.</span>
                <span class="carousel__heading heading-secondary"
                  >Брюгге. Выставка ледяных скульптур.</span
                >
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a href="#" class="carousel__link carousel__box d-block col-5">
            <figure class="">
              <div class="carousel__img-box">
                <img class="carousel__img" src="/img/zurich.png" />
              </div>
              <figcaption class="carousel__caption">
                <span class="carousel__price">от 39.00 €</span>
                <span class="carousel__text"
                  >Швейцария, Цюрих, Люцерн, 1 д. 2 н.</span
                >
                <span class="carousel__heading heading-secondary"
                  >Елка Сваровски в Цюрихе!</span
                >
              </figcaption>
            </figure>
          </a>
        </div>

        <div class="carousel-item">
          <a href="#" class="carousel__link carousel__box d-block col-5">
            <figure class="">
              <div class="carousel__img-box">
                <img
                  id="carousel-img"
                  class="carousel__img"
                  src="/img/prague.png"
                />
              </div>
              <figcaption class="carousel__caption">
                <span class="carousel__price">от 39.00 €</span>
                <span class="carousel__text">Чехия, Прага, 4 д. 3 н.</span>
                <span class="carousel__heading heading-secondary"
                  >Злата Прага - знакомство</span
                >
              </figcaption>
            </figure>
          </a>
        </div>
      </div>

      <a
        class="carousel-control-next multiple-carousel__control"
        href="#recipeCarousel"
        role="button"
        id="carousel-control"
        data-slide="next"
      >
        <span
          class="carousel-control-next-icon multiple-carousel__control-icon"
          aria-hidden="true"
        >
          <svg
            width="15"
            height="23"
            viewBox="0 0 15 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.42484 1.42484L11.5 11.5L1.42484 21.5752"
              stroke="#737373"
              stroke-width="4"
            />
          </svg>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- <h4>Advances one slide at a time</h4> -->
</div>
