html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

figcaption {
  cursor: pointer;
}

.section {
  padding: 66px 0;
  text-align: center;

  &--grey {
    background-color: $inputGrey;
  }
}

