//Colors
$dark-orange: #e36231;
$orange: #f48013;
$red: #ff0000;
$text-black: #4e4e4e;
$grey-lines: #979797;
$white: #ffffff;
$inputGrey: #f7f7f7;
$grey-hamburger: #7e7e7e;
$greyHamburgerText: #4f4f4f;
$hamburgerBorderColor: #d8d8d8;

